@import "tailwindcss";

@theme {
  --color-light-bg: #FAFAFA;
  --color-light-text: #27272A;
  --color-dark-bg: #18181B;
  --color-dark-text: #E4E4E7;
  --color-accent-light: #d4d4d8;
  --color-accent-dark: #3f3f46;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

:root {
  --background: var(--color-light-bg);
  --foreground: var(--color-light-text);
}

.dark {
  --background: var(--color-dark-bg);
  --foreground: var(--color-dark-text);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
