@import "tailwindcss";

@theme {
  --color-light-bg: #F8F8F8;
  --color-light-text: #09090B;
  --color-dark-bg: #09090B;
  --color-dark-text: #F8F8F8;
  --color-accent-light: #E4E4E7;
  --color-accent-dark: #27272A;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

:root {
  --background: var(--color-light-bg);
  --foreground: var(--color-light-text);
}

.dark {
  --background: var(--color-dark-bg);
  --foreground: var(--color-dark-text);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
